.home-layout {
  display: flex;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
.sidebar li:hover,
.sidebar li.active {
  background-color: #007bff;
  color: white;
}

/* Main products section */
.products-section {
  flex: 1;
}
.search-bar {
  margin-top: 16px;
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
  margin-left: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Products grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
